<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{../../library/js/jquery-ui.min.css}">
	<link rel="stylesheet" th:href="@{../../css/common/common.css}">
    <link rel="stylesheet" th:href="@{../../css/common/header.css}">
    <link rel="stylesheet" th:href="@{../../css/common/side.css}">
    <link rel="stylesheet" th:href="@{../../css/common/content.css}">
    <link rel="stylesheet" th:href="@{../../css/common/footer.css}">
    <link rel="stylesheet" th:href="@{../../css/common/pagination.css}">
    <link rel="stylesheet" th:href="@{../../library/css/jquery.datetimepicker.css}">
    <link rel="stylesheet" th:href="@{../../library/js/fontawesome-free-5.15.4-web/css/all.min.css}">
   	<script type="text/javascript" th:src="@{../../library/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{../../library/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{../../library/js/jquery.datetimepicker.full.min.js}"></script>
    <script type="text/javascript" th:src="@{../../library/js/fontawesome-free-5.15.4-web/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{../../library/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{../../library/js/stomp.js}"></script>
    
<!-- 	<th:block th:replace="layouts/fragments/config :: configFragment" ></th:block> -->
</head>
<body>
	<header>
		<div class="container">
			<th:block th:replace="layouts/fragments/header :: headerFragment"></th:block>
		</div>
	</header>
	<div class="layout-row">
		<div class="left">ad</div>
		<div class="content-box">
			<th:block layout:fragment="content"></th:block>
		</div>
		<div class="right">ad</div>
	</div>
	<footer>
		<th:block th:replace="layouts/fragments/footer :: footerFragment"></th:block>
	</footer>
</body>
</html>