/* Common */
.container{
	margin-top: 20rem;
}
.row{
	padding: 4remk
}

/* Login Box */
.login-box{
    display: flex;
    justify-items: center;
    flex-direction: column;
        
}

/* Logo Box */
.logo-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4.8rem;
    font-weight: bold;
}
.logo-image p{
    width: 100px;
    height: 100px;
    border: 10px solid #356ce5;
    border-radius: 50%;
}
.title{
    display: flex;
    flex-direction: column;
}

/* Button Box */
.button-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-box a{
    padding: 1rem 0;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
.button-box a:first-child{
    margin-right: 2rem;
}
.login{
    border-color: #2563eb;
}
.login:hover{
    color: #858585;
}
.join{
    background-color: #2563eb;
    border-color: #2563eb;
    color: #fff;
}
.join:hover{
    background-color: #356ce5;
    border-color: #356ce5;
}