/* Common */
body{
	background-color: #f7f7f7;
}

 /* Join Box */
 .join-box{
    padding: 6rem 2rem;
    height: 64rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
 	border-radius: 10px;
    background-color: #fff;
 }
 
   /* Logo Box */
 .logo-box{
     display: flex;
     width: 45rem;
     align-items: center;
     justify-content: space-evenly;
     font-size: 4.8rem;
     font-weight: bold;
 }
 
  /* Input Box */
 .input-box form{
  	display: flex;
	flex-direction: column;
  }
.input-box input,
.input-box button {
	margin: 0.8rem;
    padding: 1.2rem;
    border: 1px solid #6b72804d;
    border-radius: 0.75rem;
}
.input-box button{
	margin-top: 3rem;
	background-color: #b0c4de;
	border-color: #b0c4de;
	color: #fff;
	font-weight: bold;
}
.input-box button:hover{
	background-color: #79aff5;
}