<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../../css/common/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/common/footer.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/user/join.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{../../library/js/jquery-ui.min.css}">
	<script type="text/javascript" th:src="@{../../library/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{../../library/js/jquery-ui.min.js}"></script>

    <title>회원가입</title>

	<script>
		//유효성 검사 코드 만들기
		function signUp(f){
			var id = $("#id").val();

			if(id.length == 0){
				alert("아이디를 입력해 주세요.");
				$("#id").focus();
				return false;
			}
			f.submit();
		}
	</script>

</head>
<body>
<div class="container">
	<div class="join-box">
		<div class="row logo-box">
			<p>Sign Up</p>
		</div>
		<div class="row input-box">
		    <form th:action="@{/register}" method="post">
		        <input class="join-id" type="text" name="id" id="id" placeholder="아이디" autocomplete=off>
		        <input class="join-password" type="password" name="password" id="password" placeHolder="비밀번호" autocomplete=off >
		        <input class="join-passwordChk" type="password" name="passwordCheck" id="passwordCheck" placeHolder="비밀번호 확인" autocomplete=off >
		        <input class="join-name" type="text" name="name" id="name" placeholder="이름" autocomplete="off" />
				<input class="join-address" type="text" name="address" id="address" placeholder="주소" autocomplete="off" />
		        <input class="join-birth" type="date" name="birth" id="birth" />
		        <button type="button" onclick="signUp(this.form)">회원가입</button>
		    </form>
		</div>
	</div>
</div>
</body>
</html>