<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1> <hr>
<img src="/img/img.jpeg" />

<form action="/login" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    id : <input type="text" name="id"> <br>
    password : <input type="password" name="password"> <br>
    <button type="submit">Login</button>
</form> <br>

<a href="/signup">Go to join! →</a>
</body>
</html>