<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{../../css/common/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/common/footer.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/user/login.css}" rel="stylesheet" type="text/css">
    <title>login</title>
</head>
<body>
	<div class="container">
		<div class="login-box">
			<div class="row logo-box">
				<img th:src="@{../../img/img.jpeg}" />
			</div>
            <div class="row input-box">
				<form action="/login" method="POST">
				    <input class="login-input" type="text" name="id" placeholder="아이디" autocomplete=off>
				    <input class="login-input" type="password" name="password" placeHolder="비밀번호" autocomplete=off>
				    <div th:if="${param.error}">Invalid id and password</div>
				    <div th:if="${param.logout}">You have been logged out.</div>
				    <button type="button">로그인</button>
				</form>
			</div>
			<div class="row find-box">
				<p>※ 계정이 기억이 나지 않나요??</p>
				<div class="find-btn-area">
					<button>아이디 찾기</button>
					<button>비밀번호 찾기</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>