/* Common Tag */
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
p{
    margin: 0;
}
a{
    text-decoration-line: none;
    color: #555;
}
button{
	cursor: pointer;
}

/* Common Class */
.container{
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row{
    padding: 2rem 4rem;
}