<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../../css/common/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/common/footer.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../../css/index/index.css}" rel="stylesheet" type="text/css">
    <title>Hello World!</title>
    <script>
    </script>
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="row logo-box">
                <div class="logo-image">
                    <p></p>
                </div>
                <div class="title">
                    <p>Hello</p>
                    <p>World!</p>
                </div>
            </div>
            <div class="row button-box">
                <a href="/login" class="login">로그인</a>
                <a href="/join" class="join">회원가입</a>
            </div>
        </div>
    </div>
</body>
</html>